NewsSummarizer.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "34b74450-f6c3-4366-846d-ba4beb2d0375",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "category",
              "value": "Technology"
            },
            {
              "name": "apiKey",
              "value": "659094107f304b07a7d4bb277b031643"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "6670438c-3a19-4f23-a644-d874522111df",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a highly efficient personal assistant. I am going to give you a raw JSON feed of today's top news articles.\n\nPlease read through them, pick the 3 most important stories, and write a snappy, casual morning briefing for me. Use emojis, keep it brief, and output it as a bulleted list.\nDo NOT use any markdown formatting like asterisks (). Output strictly in plain text, using only standard line breaks and emojis.\n\nHere is the news data: {{ $json.articles }}",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=You are a highly efficient personal assistant. I am going to give you a raw JSON feed of today's top news articles.  Please read through them, pick the 3 most important stories, and write a snappy, casual morning briefing for me. Use emojis, keep it brief, and output it as a bulleted list.  Here is the news data: {{ $json.articles[0] }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "bcdcec8f-b7a7-49a2-8044-a5698bff4da1",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        208
      ],
      "id": "ee7f2c97-4748-4a43-8714-4646f9312277",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zdpi1b6H13cpwTGB",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1824127879",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        0
      ],
      "id": "0f97def8-b59a-4780-a7c7-938ba83c9454",
      "name": "Send a text message",
      "webhookId": "0c853195-43e8-4ae5-adbf-4b7df3d2c48a",
      "credentials": {
        "telegramApi": {
          "id": "Jf3vtmIotFD65FJ8",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4e1c6943-221b-4bfd-9717-9978626e611c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f4b041573d8129f668b3c2f625ce42d5c6b01091b4f430558b29c20375a40bc1"
  },
  "id": "jkN7JRIC4vYvdDs3",
  "tags": []
}